@import url("https://fonts.googleapis.com/css?family=Henny+Penny");
* {
  font-family: "Henny Penny";
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 200px;
}

button {
  margin-top: 20px;
  width: 200px;
}

div {
  height: 40px;
}

img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#container {
  display: grid;
  height: 300px;
  width: 200px;
  margin-inline: auto;
  padding-bottom: 24px;
}

#board {
  margin-top: 420px;
  display: flex;
  flex-direction: column;
}

.hiden {
  display: none;
}

.row {
  display: flex;
}

.cell {
  background-color: rgb(192, 192, 192);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tableDiv {
  height: 400px;
}
